.wrapper {
    height: 115vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8257e5;
  }
  button{
    text-transform:capitalize;
    font-size:1.5rem;
    background:transparent;
    border:0.05rem solid var(--mainDark);
    color: var(--mainDark);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    margin: 0.2rem 0.5rem 0.2rem 0;
  }
  .form-wrapper {
    height: 120vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  label {
    font-size: 1.0em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 1.0em;
    display: relative;
  }
  
  .firstName {
    margin-right: 1%;
  }
  
  .lastName {
    margin-left: 1%;
  }
  
  .firstName,
  .lastName,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .nomeCompleto {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .firstName,
  .lastName {
    width: 49%;
  }
  
  .email,
  .password {
    width: 100%;
  }
  
  .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount button {
    background-color: #8257e5;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .createAccount button:hover {
    color: #8257e5;
    background-color: #fff;
    border: 2px solid #8257e5;
  }
  
  .createAccount small {
    color: #999;
    font-size: 1.5em;
    font-weight: lighter;
  }

  #box{
    width: 500px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
  }
  #box img{
    font-size: 40px;
  }