.wrapper {
    height: 115vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c1691;
  }

  .form-wrapper {
    height: 120vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }

  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  label {
    font-size: 1.0em;
    margin-bottom: 0.25em;
    border-color: #222;
    font-weight: lighter;
  }

  textarea {
    min-height: 5em;
    max-height: 50vh;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border-color: #555;
  }

  #cidade{
      width: 100%;
  }

  #titulo{
    width: 100%;
  }

  #horarios{
      width:100%;
  }

