:root{
  --mainBlue:#2a2a72;
  --mainColor: #58D3B4;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Merienda', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-title-trabalho{
  font-family: 'Merienda', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--mainDark);
}
.text-autor{
  font-family: 'Patrick Hand', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--mainDark);
}
.text-mainColor{
  color: var(--mainColor);
}
.text-dark{
  color:var(--mainDark);
}
.text.bright{
  color: var(--lightBlue)
}
#imag{
  border: 1px solid var(--mainDark);
  border-radius: 4px;
}